/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.btn:focus, .btn:active, input:focus, input:active {
    outline: none !important;
}

/* TYPOGRAPHY */
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 1.1;
}
small {
    font-size: 0.5rem;
    color: #9a9a9a;
}

/* BUTTONS */
.btn {
    background-color: #F9BD2F;
    border-radius: 15px;
    padding: 20px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn:hover {
    background-color: #ffcf5e;
}
.btn-explore {
    padding: 20px 65px; 
    color: #fff;
    font-weight: 500;   
    margin: 40px 0;
}
#btn-calculate {
    height: 60px;
    width: 120px;
    margin: 0 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* MIX */
.container {
    max-width: 1210px;
    margin: auto;
}
.hidden {
    display: none;
}

/* HEADER */
header {
    height: 100vh;
    width: 100%;
    background-color: #FEF7E5;
    padding: 0 20px;
}

/* Header top */
.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.header_top_logo {
    display: flex;
    align-items: center;
}
.round_logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F9BD2F;
    margin-right: 15px;
}
.round_logo img {
    height: 35px;
    margin: 5px 15px;
}
.header_top_navbar li {
    display: inline-block;
    margin: 0 25px;
}
.header_top_navbar li a {
    color: #3F4A54;
    font-weight: 400;
    transition: 0.2s ease-in-out;
}
.header_top_navbar li a:hover {
    color: black;
}
.header_top_navbar .navbar_active {
    color: black;
    font-weight: 500;
}
.btn-checkout {
    padding: 19px 16px 19px 18px;
    box-shadow: 0px 0px 10px 5px rgba(249,189,47,0.25);
    position: relative;
}
.btn-checkout::after {
    content: "1";
    align-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    font-weight: 600;
    box-shadow: 0px 0px 10px -2px #FEF7E5;
}

/* Header hero */
.header_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 120px);
}
.header_hero_cta {
    flex-basis: 40%;
}
.header_hero_img {
    flex-basis: 60%;
}
.header_hero_img img {
    width: 95%;
    margin-left: 50px;
}

/* MAIN */
main {
    padding: 40px 25px;
    text-align: center;
}
main .container > div {
    margin-top: 35px;
}
main h2 {
    margin-bottom: 25px;
}
main input[type=text] {
    height: 60px;
    width: 320px;
    border: 1px solid #F9F9F9;
    background-color: #F9F9F9;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
}
.ingredients ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ingredients ul li {
    flex-basis: calc(100% / 4);
    padding: 10px;
}
.ingredients label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #FEF7E5;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.label_left > *, .label_right > * {
    display: inline-block;
    vertical-align: middle;
}
.label_left_box {
    height: 75px;
    line-height: 75px;
    width: 75px;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 10px;
}
.label_left_box img {
    height: 35px;
    vertical-align: middle;
}
.ingredients input[type=checkbox] {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 5px;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total_price {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    padding: 0 25px;
    background-color: #F9BD2F;
    border-radius: 10px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 50px;
    margin-top: 15px;
    background-color: #F9F9F9;
}
.payment-method img {
    width: 225px;
}


/* RESPONSIVNESS */
@media screen and (max-width: 992px) {
    .header_top_navbar ul {
        display: none;
    }
    .hamburger-menu.hidden {
        display: inline-block;
    }
    .header_hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header_hero > * {
        text-align: center;
        margin-top: 30px;
        flex-basis: auto;
    }
    .header_hero_img img {
        width: 60%;
    }
    .ingredients ul li {
        flex-basis: calc(100% / 2);
        padding: 10px 25px;
    }
}
@media screen and (max-width: 667px) {
    h1 {
        font-size: 32px;
    }
    main input[type=text] {
        width: 260px;
    }
    .label_left p {
        display: none;
    }
    .total {
        display: inline-block;
    }
    .total_coupon input {
        margin-bottom: 15px;
    }
    .total_price {
        margin-top: 15px;
    }
    footer {
        display: block;
        text-align: center;
    }
    .payment-method img {
        width: 180px;
        margin-top: 10px;
    }
}